Invoice-to-Cashflow Workflow.json
{
  "name": "Invoice-to-Cashflow Automation (Pro)",
  "nodes": [
    {
      "parameters": {},
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "extract",
        "source": "attachment",
        "options": {
          "outputFormat": "json"
        }
      },
      "name": "PDF Parser",
      "type": "n8n-nodes-base.pdf",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "sheetId": "{{YOUR_SHEET_ID}}",
        "range": "Invoices!A:D",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"due_date\"]}}",
              "operation": "smaller",
              "value2": "={{$now}}"
            }
          ]
        }
      },
      "name": "Check Overdue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "contactId": "={{$json[\"client_id\"]}}",
        "updateFields": {
          "lifecyclestage": "customer"
        }
      },
      "name": "Update HubSpot CRM",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "operation": "insert",
        "application": "={{$json}}"
      },
      "name": "Backup to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [1450, 150]
    },
    {
      "parameters": {
        "fromEmail": "{{YOUR_EMAIL}}",
        "toEmail": "={{$json[\"client_email\"]}}",
        "subject": "Invoice Overdue Reminder",
        "text": "Hello, your invoice {{$json[\"invoice_id\"]}} is overdue by {{$json[\"days_overdue\"]}} days."
      },
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1250, 450],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "channel": "#finance",
        "text": "⚠ Overdue Invoice: {{$json[\"invoice_id\"]}} | Client: {{$json[\"client_name\"]}} | Amount: {{$json[\"amount\"]}}"
      },
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1450, 450]
    },
    {
      "parameters": {
        "resource": "card",
        "operation": "create",
        "boardId": "{{YOUR_TRELLO_BOARD_ID}}",
        "listId": "{{YOUR_TRELLO_LIST_ID}}",
        "name": "Overdue Invoice - {{$json[\"invoice_id\"]}}",
        "desc": "Client: {{$json[\"client_name\"]}}, Amount: {{$json[\"amount\"]}}"
      },
      "name": "Create Trello Task",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [1650, 450]
    },
    {
      "parameters": {
        "sheetId": "{{YOUR_ERROR_SHEET_ID}}",
        "range": "Errors!A:D",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "name": "Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1250, 650]
    },
    {
      "parameters": {
        "chatId": "{{YOUR_TELEGRAM_CHAT_ID}}",
        "text": "🚨 Invoice Processing Error: {{$json[\"invoice_id\"]}} could not be parsed."
      },
      "name": "Telegram Admin Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1450, 650]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "PDF Parser", "type": "main", "index": 0 }]]
    },
    "PDF Parser": {
      "main": [[{ "node": "Log to Google Sheets", "type": "main", "index": 0 }]]
    },
    "Log to Google Sheets": {
      "main": [[{ "node": "Check Overdue?", "type": "main", "index": 0 }]]
    },
    "Check Overdue?": {
      "main": [
        [{ "node": "Update HubSpot CRM", "type": "main", "index": 0 }],
        [{ "node": "Send Reminder Email", "type": "main", "index": 0 }],
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    },
    "Update HubSpot CRM": {
      "main": [[{ "node": "Backup to Airtable", "type": "main", "index": 0 }]]
    },
    "Send Reminder Email": {
      "main": [[{ "node": "Slack Alert", "type": "main", "index": 0 }]]
    },
    "Slack Alert": {
      "main": [[{ "node": "Create Trello Task", "type": "main", "index": 0 }]]
    },
    "Log Error": {
      "main": [[{ "node": "Telegram Admin Alert", "type": "main", "index": 0 }]]
    }
  }
}
